<div class="container text-center">
    <h1>about page</h1>
    <p>We are DevMatch - a company focused on creating an exclusive community for developers and entrepreneurs. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, culpa, iste nobis quos eveniet earum enim ex maxime. Debitis, perferendis sapiente laudantium aliquid minus inventore optio illo natus expedita tenetur!</p>
</div>